body {
    font-family: 'Maven Pro', sans-serif;
    background-image: url("spacebackground.jpeg");
    background-size: 2000px;
    color: lightgray;
    
}

h1, h2{
    text-align: center;
}

#title{
    margin-left: 100px;

    font-family: 'Bowlby One', cursive;
    font-weight: 400;
    color: #88df8e;
    font-size: 72px;
}

.description{
    color: lightgray;
    text-align: center;
    margin-top: -20px;
    margin-left: 100px;
    margin-right: 120px;
    font-size: 18px;
    font-weight: lighter;
}

#currentWord span {
    display: inline-block;
    margin: 0 10px;
}

.restart{
    margin-right: -70px;
    margin-left: 20px;
    float: left;
}

.guesses{
    margin-left: -70px;
    margin-right: 70px;
    float: right;
}

.guessesLeft{
    margin-top: 16px;
    margin-right: -45px;
    float: right;
}

.ufo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%
}

.spaceman
{
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    width: 10%;
}

.alphabetContainer {
    display:block;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#alphabet{
    margin:15px auto;
    padding:0;
    max-width:600px;
}

#alphabet li{
    float: left;
    margin: 0 10px 10px 0;
    list-style: none;
    width:35px;
    height:30px;
}

/* alphabet letter button */
.letter {
    background-color: lightgray;
    color: #0c1723;
    float: left;
    text-align: center;
    padding-top: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    
}

.gameover{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 62px;
}

#currentWord{
    text-align:center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 150%;
    font-family: 'Maven Pro', sans-serif;    font-weight: 800;
}

#alphabetContainer{
    margin-bottom: 200px;
}
#hintWrapper {
    margin: auto;
    width: 50%;
    text-align:center;

}
#hint {
    padding: 5px 10px 10px 5px;
    text-align:center;
    font-weight: 800;
    font-size: 18px;
}

#hintDescription {
    font-weight: light;}
