body {
    font-family: 'Helvetica', 'sans-serif';
}

h1, h2{
    text-align: center;
}

h1{
    margin-left: auto;
    font-size: 42px;
}

.description{
    margin-top: -20px;
    font-size: 18px;
    font-weight: lighter;
}

.restart{
    margin-right: -70px;
    margin-left: 20px;
    float: left;
}

.ufo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%
}

.spaceman
{
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    width: 10%
}

.alphabetContainer {
    display:block;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.used {
    display:block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    max-height: 50%;
}

.spaces{
    text-align: center;
}


#space {
    display: inline-block;
    flex-direction: row;
    padding: 5px;
}